.name {
  margin: 10px;
  font-size: 26px;
  font-weight: bold;
}

.avatar {
  width: 100px;
  height: 100px;
}

.profile {
  width: 270px;
  padding-top: 30px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid lightgray;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.stats {
  display: flex;
  justify-content: space-between;
  height: 70px;
  background-color: thistle;
}

.stats_item {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  width: calc(100% / 3);
}

.label {
  color: gray;
  margin-bottom: 10px;
}

.quantity {
  font-weight: bold;
}
