.friend_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.friend_card {
  display: flex;
  align-items: center;
  width: 200px;
  border: 1px solid lightgray;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  padding: 5px 10px;
  background-color: #fff;
}

.status_online {
  width: 5px;
  height: 5px;
  margin-right: 10px;
  background-color: green;
  border: 3px solid green;
  border-radius: 50%;
}

.status_offline {
  width: 5px;
  height: 5px;
  margin-right: 10px;
  background-color: red;
  border: 3px solid red;
  border-radius: 50%;
}

.name {
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
}
